<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<body>
		<div th:fragment="footer">
			<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
			<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
			
			<script type="text/javascript" th:src="@{/js/metisMenu.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/sb-admin-2.min.js}"></script>
			
			<!-- Plugins -->
			<script type="text/javascript" th:src="@{/webjars/select2/4.0.3/dist/js/select2.full.js}"></script>
			<script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
			<script type="text/javascript" th:src="@{/webjars/bootstrap-table/1.9.1/bootstrap-table.min.js}"></script>
			<script type="text/javascript" th:src="@{/webjars/momentjs/2.18.1/min/moment.min.js}"></script>
			
		</div>
	</body>
	
</html>