<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="header">
		
		<meta charset="utf-8" />
		<meta name="description" content="Furry Friends - Philippines Pet Adoption Site" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		
		<title>Login - Mawsi HR</title>
		
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
		
		<link rel="stylesheet" th:href="@{/css/metisMenu.min.css}" type="text/css"/>
		<link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}" type="text/css"/>
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css"/>
		
		<!-- Plugins -->
		<link rel="stylesheet" th:href="@{/webjars/select2/4.0.3/dist/css/select2.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap-table/1.9.1/bootstrap-table.min.css}">
		
	</head>
</html>